---
// import Navigation from "../components/Navigation.astro";
// import Footer from "../components/Footer.astro";

// component imports
import MainLayout from "../layouts/MainLayout.astro";
const myname = "Sukhminder Singh";
---

<MainLayout title="My Blog">
  <section class="container about" aria-label="About Me">
    <img src="/images/headshot.jpeg" alt="My headshot" height="330" />
    <div class="content">
      <h1 class="h1">{myname}</h1>
      <p>
        Hi 👋, I am postdoctoral researcher at Friedrich-Alexander-Universität (FAU)
        Erlangen-Nürnberg. I obtained my masters in Computational Engineering
        and subsequently my doctorate from FAU.
      </p>
    </div>
  </section>
</MainLayout>
